@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*------*/
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Gafata&family=Glass+Antiqua&display=swap');

/*------*/

/* Variables */
:root {
    --night: #0F0F0F;
    --gold: #FFF9BD;
    --emerald:#50C878;
    
    --glass-antiqua: 'Glass Antiqua', serif;
    --gafata: 'Gafata', sans-serif;
    --corben: 'Corben', serif;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--night) !important;
    max-width: 100%;
}

.line {
    color: var(--gold);
}

.header__line {
    margin-top: .5rem;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    background-color: var(--emerald) !important; /* SE ÖVER */
    border-radius: 0 2rem 2rem 0;
    height: 100%;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.search-list-container {
    position: relative;
    width: 100%;
}

.section__search-list {
    position: absolute;
    top: 100%;
    list-style-type: none;
    border: 1px solid white;
    border-top: none;
    width: 50%;
    z-index: 5;
}

.section__search-item {
    color: black;
    padding: 1rem;
    cursor: pointer;
}

.section__search-item:nth-child(even) {
    background-color: white;
}

.section__search-item:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.section__search-item:hover {
    background-color: rgb(220, 220, 220);
}

.header__fav-btn {
    color: var(--gold) !important; /* SE ÖVER */
    font-family: var(--glass-antiqua);
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--gold);
    background: none;
    border: none;
    cursor: pointer;
}


.recmnd__title {
    color: var(--gold) !important; /* SE ÖVER */
    font-family: var(--glass-antiqua);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}

.recmnd-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.single-movie {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.movie {
    border: 1px solid var(--gold);
    color: white;
    font-weight: 400;
    font-family: var(--gafata);
}

.movie:hover {
    cursor: pointer;
}

.movie-box-1__poster {
    display: flex;
    justify-self: center;
    padding-bottom: 1rem;
    margin: 0 1rem;
    margin-top: 1rem;
}

.movie__title, .movie-box-1__title {
    text-align: center;
}

.movie-box-2__info {
    font-family: var(--gafata);
    color: white;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 30px;
}

.back-button {
    padding: 1rem 2rem;
    background-color: var(--emerald);
    font-family: var(--glass-antiqua);
    font-size: 1.5rem;
    border-radius: 12px;
    margin-left: 1rem;
}

.back-button:hover {
    cursor: pointer;
}

@media (min-width: 992px) {

    .single-movie {
        flex-direction: row;
    }
}