@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*------*/
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Gafata&family=Glass+Antiqua&display=swap');

/*------*/

/* Variables */
:root {
    --blush: #FF8A8C;
    --wood: #27211E;
    --gold: #FFF79A;
    --emerald: #50C878;
    
    --glass-antiqua: 'Glass Antiqua', serif;
    --gafata: 'Gafata', sans-serif;
    --corben: 'Corben', serif;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--wood);
    max-width: 100%;
}

.line {
    color: var(--gold);
}

.header__line {
    margin-top: .5rem;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    background-color: var(--emerald) !important; /* SE ÖVER */
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    color: var(--gold) !important; /* SE ÖVER */
    font-family: var(--glass-antiqua);
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--gold);
    background: none;
    border: none;
    cursor: pointer;
}


.recmnd__title {
    color: var(--gold) !important; /* SE ÖVER */
    font-family: var(--glass-antiqua);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}

.recmnd-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.movie {
    border: 1px solid var(--gold);

}

.movie__poster {
    padding-bottom: 1rem;
}

.movie__title, .movie__id {
    color: white;
    font-family: var(--gafata);
    font-weight: 400; 
}

.movie__poster {
    display: flex;
    justify-self: center;
}

.movie__title {
    font-family: var(--corben);
    text-align: center;
}

.movie__info {
    font-family: var(--gafata);
    color: white;
    padding-left: 2rem;
}