@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*------*/
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Gafata&family=Glass+Antiqua&display=swap');

:root {
    --blush: #FF8A8C;
    --wood: #27211E;
    --gold: #FFF79A;
    
    --glass-antiqua: 'Glass Antiqua', serif;
    --gafata: 'Gafata', sans-serif;
    --corben: 'Corben', serif;
}
/*------*/

/* Variables */
:root {
    --header-grey: #121212;
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--wood);
    max-width: 100%;
}

.line {
    color: var(--gold);
}

.header__line {
    margin-top: .5rem;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    background-color: var(--blush);
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.recmnd {
    .recmnd__wrapper {
        .recmnd__title {
            color: white;
            font-family: var(--glass-antiqua);
            text-align: center;
        }
        .recmnd__line {

        }
        .recmnd__section {

            .recmnd-section__info {
                color: white; /* funkar inte */
            }
        }
    }
}